body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2 {
  color: #005a9c;
}

.plotly-graph-div {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  background-color: #fff;
  height: 500px; /* Damos altura fija para 3D */
}

p {
  max-width: 800px;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 40px 0;
}